*{
    box-sizing: border-box;
}
body{
    margin:0;
}
header{
    background-color: aliceblue;
    padding:50px;
}
main{
    background-color: rgb(255, 255, 255);
    width:70%;
    max-width:1280px;
    margin:0 auto;
    padding:40px;
}
nav ul{
    list-style: none;
    display: flex;
    gap:20px;
    width:80%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding:10px;
}
nav a{
    color:black;
    font-size:2rem;
    text-decoration:none;
}
nav a:hover, a:hover{
    color:#2A7B9B;
}
a{
    color:black;
}
h1{
    color:red;
}
.wrapper{
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(101, 219, 188, 1) 38%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 100%);
}
.picture{
    width:400px;
    height:400px;
}
.picture img{
    width:100%;
    height:100%;
}