/* FONTS */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Slabo 27px", serif; */

*{
    box-sizing: border-box;
    /* border: solid 1px black; */
}
body{
   font-family: "Nunito", sans-serif; 
   font-weight: 900;
}
h1, h2, h3, h4, h5, h6{
   font-family: "Slabo 27px", serif; 
}
h2{
    font-size:3rem;
    color:#3696cd;
}
h1{
    text-align:center;
    text-decoration:none;
    text-transform: lowercase;
}
.list{
    font-size:2rem;
    color:red;
}
p{
    color:green;
}
a{
    color:black;
}
a:hover{
    color:#3696cd;
    text-decoration: none;
}
a.add-link{
    text-decoration: none;
    color:#3696cd;
}
a.add-link:hover{
    text-decoration: underline;
}
.box{
    border: solid 1px black;
    width: 300px;
    height:300px;
    padding: 50px;
    margin: 50px;
    display:inline-block;
    vertical-align: top;
    transition: all ease-in-out 1s;
}

.box-1{
    padding: 50px;
    /* margin: 50px; */
    width: 300px;
    height:300px;
    /* display:inline-block; */
    /* display: none; */
}
.box-2{
    padding: 50px;
    /* margin: 50px; */
    width: 400px;
    height:300px;
    background-color: antiquewhite;
    /* display:inline-block; */
    /* display: none; */
}
.boxes{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    height: 600px;
}
b{
    font-size:2rem;
    color:white;
    background-color: black;
    padding:20px;
    margin:20px;
    width:500px;
    height:500px;
}
/* COLORS */
.hex{
    background-color: #19D4E6;
}
.rgb{
    background-color: rgba(25, 212, 230, .2);
}
.hsl{
    background-color: hsl(185, 80%, 50%);
    background-color: hsl(184, 88%, 90%);
}
.named{
    background-color: chocolate;
}
.box h2{
    background-color: rgba(236, 226, 111, 0.3);
}
/* BACKGROUND IMAGES */
.bg-dot{
    background-color: lightyellow;
    background-image: url(/images/dot.png);
}
.no-repeat{
    background-repeat: no-repeat;
}
.repeat-x{
    background-repeat:repeat-x;
}
.repeat-y{
    background-repeat:repeat-y;
}
.bg-center{
    background-position: 25% 75%;
}
.bg-img1{
    background-image: url(/images/pizza.png);
}
.cover{
    background-size: cover;
    background-position: center;
}
.contain{
    background-size: fill;
}
.big-bg{
    background-image: url(/images/1shazmyn-ali-sm.jpg);
}
.white-bg{
    background-color: #FFFFFF;
}
.fixed{
    background-attachment: fixed;
}
/* Hover sections */
.box.hex:hover{
    background-color:red;
}
.box.rgb:hover{
    background-image: url(/images/pizza-plate.jpg);
    background-size: contain;
}
.box.hsl:hover{
    transform: rotate(45deg);
    background-color:rgb(0, 242, 255);
}
.box.bg-img{
    background-image: url(/images/pizza.png);
    background-size: cover;
}
.box.bg-img:hover{
    background-image: url(/images/pizza-plate.jpg);
    background-size: contain;
}
.class1{
    color:blue;
}
div p{
    color: aqua;
}
div p.class2{
    color: cornflowerblue;
    padding:20px;
}
.gradient{
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(101, 219, 188, 1) 38%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 100%);
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2026-2-24 18:8:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
