/* FONTS */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Slabo 27px", serif; */

*{
    box-sizing: border-box;
    border: solid 1px black;
}
body{
   font-family: "Nunito", sans-serif; 
   font-weight: 900;
}
h1, h2, h3, h4, h5, h6{
   font-family: "Slabo 27px", serif; 
}
h2{
    font-size:3rem;
    color:#3696cd;
}
h1{
    text-align:center;
    text-decoration:none;
    text-transform: lowercase;
}
.box{
    border: solid 1px black;
    width: 300px;
    height:300px;
    padding: 50px;
    margin: 50px;
    display:inline-block;
    vertical-align: top;
}

.box-1{
    padding: 50px;
    /* margin: 50px; */
    width: 300px;
    height:300px;
    /* display:inline-block; */
    /* display: none; */
}
.box-2{
    padding: 50px;
    /* margin: 50px; */
    width: 400px;
    height:300px;
    background-color: antiquewhite;
    /* display:inline-block; */
    /* display: none; */
}
.boxes{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    height: 600px;
}
b{
    font-size:2rem;
    color:white;
    background-color: black;
    padding:20px;
    margin:20px;
    width:500px;
    height:500px;
}
/* COLORS */
.hex{
    background-color: #19D4E6;
}
.rgb{
    background-color: rgba(25, 212, 230, .2);
}
.hsl{
    background-color: hsl(185, 80%, 50%);
    background-color: hsl(184, 88%, 90%);
}
.named{
    background-color: chocolate;
}
.box h2{
    background-color: rgba(236, 226, 111, 0.3);
}
/* BACKGROUND IMAGES */
.bg-dot{
    background-color: lightyellow;
    background-image: url(/images/dot.png);
}
.no-repeat{
    background-repeat: no-repeat;
}
.repeat-x{
    background-repeat:repeat-x;
}
.repeat-y{
    background-repeat:repeat-y;
}
.bg-center{
    background-position: 25% 75%;
}
.bg-img1{
    background-image: url(/images/pizza.png);
}
.cover{
    background-size: cover;
    background-position: center;
}
.contain{
    background-size: fill;
}
.big-bg{
    background-image: url(/images/1shazmyn-ali-sm.jpg);
}
.white-bg{
    background-color: #FFFFFF;
}
.fixed{
    background-attachment: fixed;
}
/* Hover sections */
.box.hex:hover{
    background-color:red;
}
.box.rgb:hover{
    background-image: url(/images/pizza-plate.jpg);
    background-size: contain;
}
.box.hsl:hover{
    transform: rotate(45deg);
    background-color:rgb(0, 242, 255);
}